<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaeehttp://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

  <!-- 配置web应用初始化参数 -->
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/mybatis</param-value>
  </context-param>

  <!-- servlet容器 -->
  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>com.tt.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetServlet</servlet-name>
    <servlet-class>com.tt.servlet.GetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServlet</servlet-name>
    <url-pattern>/share</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ServletParam</servlet-name>
    <servlet-class>com.tt.servlet.ServletParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletParam</servlet-name>
    <url-pattern>/getParam</url-pattern>
  </servlet-mapping>
</web-app>